@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900;&display=wrap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;

}

:root{
    --background-header:#11141a;
    --background-grey: #1f242d;
    --color-white: #fff;
    --color-aquablue: #0ef;
}

html{
    scroll-behavior: smooth;
}



section{
    min-height:100vh;

    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: var(--background-grey);

    font-size:120px;
    font-weight: 1000;
    color:var(--color-white);
}

section:nth-child(odd){
    background-color: var(--background-header);
}